body {
  background-color: #0d1117;
  color: #e6edf3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #238636;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #238636;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2ea043;
}

pre {
  background: #161b22;
  color: #e6edf3;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  overflow-x: auto;
}

p {
  color: #e6edf3;
}